html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  color: #475669;
  min-height: 100vh;
  line-height: 18px;
  min-height: 100%;
  min-width: 576px;
  font-size: 14px;
  font-family: "Roboto",Helvetica,sans-serif;
}

html a,
body a {
  color: #ff2d20;
  outline: none;
  text-decoration: none;
}

html a:active,
html a:hover,
body a:active,
body a:hover {
  color: #ec2519;
  background: none;
  text-decoration: underline;
}

html a.dashed,
body a.dashed {
  text-decoration: none;
  border-bottom: 1px dashed transparent;
}

html a.dashed:active,
html a.dashed:hover,
body a.dashed:active,
body a.dashed:hover {
  text-decoration: none;
  border-bottom: 1px dashed #ec2519;
}

html pre,
html code,
body pre,
body code {
  font-size: 14px;
  font-family: "Roboto Mono",Menlo,Monaco,Consolas,"Courier New",monospace;
}

html code,
body code {
  background: #eff2f7;
  border-radius: 2px;
  padding: 2px 6px;
  box-sizing: border-box;
  line-height: 18px;
  height: 18px;
  color: inherit;
}

html pre>code,
body pre>code {
  display: block;
  white-space: pre;
  background: #f9fafc;
  padding: 10px 15px;
  box-shadow: inset 3px 0 0 #ff2d20;
  height: auto;
  border-radius: 0 2px 2px 0;
  line-height: 20px;
}

html ul li,
body ul li {
  list-style: square;
  margin: 4px 0;
}

html hr,
body hr {
  border: none;
  margin: 10px 0;
  display: block;
  height: 1px;
  background: #e5e9f2;
}

html h1,
html h2,
html h3,
html h4,
html h5,
html h6,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: "Roboto",Helvetica,sans-serif;
  font-weight: 400;
  line-height: 1.4;
  padding: 0 5px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

html h1.underline,
html h2.underline,
html h3.underline,
html h4.underline,
html h5.underline,
html h6.underline,
body h1.underline,
body h2.underline,
body h3.underline,
body h4.underline,
body h5.underline,
body h6.underline {
  box-shadow: 0 1px 0 #e5e9f2;
}

html h1 .anchor,
html h2 .anchor,
html h3 .anchor,
html h4 .anchor,
html h5 .anchor,
html h6 .anchor,
body h1 .anchor,
body h2 .anchor,
body h3 .anchor,
body h4 .anchor,
body h5 .anchor,
body h6 .anchor {
  opacity: .3;
  font-weight: 400;
  font-size: .9em;
  text-decoration: none !important;
}

html h1 .anchor:before,
html h2 .anchor:before,
html h3 .anchor:before,
html h4 .anchor:before,
html h5 .anchor:before,
html h6 .anchor:before,
body h1 .anchor:before,
body h2 .anchor:before,
body h3 .anchor:before,
body h4 .anchor:before,
body h5 .anchor:before,
body h6 .anchor:before {
  content: '#';
}

html h1 .anchor:focus,
html h1 .anchor:active,
html h2 .anchor:focus,
html h2 .anchor:active,
html h3 .anchor:focus,
html h3 .anchor:active,
html h4 .anchor:focus,
html h4 .anchor:active,
html h5 .anchor:focus,
html h5 .anchor:active,
html h6 .anchor:focus,
html h6 .anchor:active,
body h1 .anchor:focus,
body h1 .anchor:active,
body h2 .anchor:focus,
body h2 .anchor:active,
body h3 .anchor:focus,
body h3 .anchor:active,
body h4 .anchor:focus,
body h4 .anchor:active,
body h5 .anchor:focus,
body h5 .anchor:active,
body h6 .anchor:focus,
body h6 .anchor:active {
  opacity: .7;
}

html h1,
body h1 {
  font-size: 4.236rem;
  font-weight: 100;
  margin: 4.236rem 0 2.118rem 0;
}

html h2,
body h2 {
  font-size: 2.618rem;
  margin: 2.618rem 0 1.309rem 0;
}

html h3,
body h3 {
  font-size: 1.618rem;
  font-weight: 400;
  margin: 1.618rem 0 .809rem 0;
}

html h4,
body h4 {
  font-size: 14px;
  text-transform: uppercase;
  margin: 14px 0 7px 0;
}

html h5,
html h6,
body h5,
body h6 {
  font-size: 14px;
  font-weight: bold;
  margin: 14px 0 7px 0;
}

html table,
body table {
  width: 100%;
  border-radius: 3px;
  border-spacing: 0;
  border-collapse: collapse;
  box-shadow: 0 0 0 1px #e5e9f2;
}

html table+table,
body table+table {
  margin-top: 10px;
}

html table tr,
body table tr {
  margin: 0;
  padding: 0;
}

html table tr>td,
body table tr>td {
  padding: 10px;
}

html table tr>td:first-child,
body table tr>td:first-child {
  padding-left: 15px;
}

html table tr>td:last-child,
body table tr>td:last-child {
  padding-right: 15px;
}

html table tr:first-child>td,
body table tr:first-child>td {
  box-shadow: none;
}

html table tr:first-child>td:first-child,
body table tr:first-child>td:first-child {
  border-top-left-radius: 3px;
}

html table tr:first-child>td:last-child,
body table tr:first-child>td:last-child {
  border-top-right-radius: 3px;
}

html table tr:last-child>td:first-child,
body table tr:last-child>td:first-child {
  border-bottom-left-radius: 3px;
}

html table tr:last-child>td:last-child,
body table tr:last-child>td:last-child {
  border-bottom-right-radius: 3px;
}

html table tbody tr>td,
body table tbody tr>td {
  box-shadow: inset 0 1px 0 #e5e9f2;
}

html table tbody tr:first-child>td,
body table tbody tr:first-child>td {
  box-shadow: none;
}

html table tbody tr:nth-child(2n)>td,
body table tbody tr:nth-child(2n)>td {
  background: #f9fafc;
}

html table thead tr>td,
body table thead tr>td {
  background: #f9fafc;
  box-shadow: inset 0 -1px 0 #e5e9f2,inset 1px 0 0 #e5e9f2 !important;
  font-weight: bold;
}

html table thead tr>td:first-child,
body table thead tr>td:first-child {
  box-shadow: inset 0 -1px 0 #e5e9f2 !important;
}

html table thead tr:last-child>td:first-child,
html table thead tr:last-child>td:last-child,
body table thead tr:last-child>td:first-child,
body table thead tr:last-child>td:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

html input[type=text],
html input[type=search],
html textarea,
body input[type=text],
body input[type=search],
body textarea {
  font-size: 14px;
  font-family: "Roboto",Helvetica,sans-serif;
  color: #475669;
  border: none;
  outline: none;
  box-shadow: 0 0 0 1px #e5e9f2;
  border-radius: 2px;
  line-height: 32px;
  padding: 0 10px;
}

html input[type=text]::-webkit-input-placeholder, html input[type=search]::-webkit-input-placeholder, html textarea::-webkit-input-placeholder, body input[type=text]::-webkit-input-placeholder, body input[type=search]::-webkit-input-placeholder, body textarea::-webkit-input-placeholder {
  color: #99a9bf;
}

html input[type=text]::-moz-placeholder, html input[type=search]::-moz-placeholder, html textarea::-moz-placeholder, body input[type=text]::-moz-placeholder, body input[type=search]::-moz-placeholder, body textarea::-moz-placeholder {
  color: #99a9bf;
}

html input[type=text]:-ms-input-placeholder, html input[type=search]:-ms-input-placeholder, html textarea:-ms-input-placeholder, body input[type=text]:-ms-input-placeholder, body input[type=search]:-ms-input-placeholder, body textarea:-ms-input-placeholder {
  color: #99a9bf;
}

html input[type=text]::-ms-input-placeholder, html input[type=search]::-ms-input-placeholder, html textarea::-ms-input-placeholder, body input[type=text]::-ms-input-placeholder, body input[type=search]::-ms-input-placeholder, body textarea::-ms-input-placeholder {
  color: #99a9bf;
}

html input[type=text]::placeholder,
html input[type=search]::placeholder,
html textarea::placeholder,
body input[type=text]::placeholder,
body input[type=search]::placeholder,
body textarea::placeholder {
  color: #99a9bf;
}

html input[type=text]:focus,
html input[type=text]:active,
html input[type=text].active,
html input[type=search]:focus,
html input[type=search]:active,
html input[type=search].active,
html textarea:focus,
html textarea:active,
html textarea.active,
body input[type=text]:focus,
body input[type=text]:active,
body input[type=text].active,
body input[type=search]:focus,
body input[type=search]:active,
body input[type=search].active,
body textarea:focus,
body textarea:active,
body textarea.active {
  box-shadow: 0 0 0 1px #ff2d20;
  -webkit-transition: box-shadow .2s ease;
  transition: box-shadow .2s ease;
}

html input[type=text],
html input[type=search],
body input[type=text],
body input[type=search] {
  height: 32px;
}

html input[type=submit],
html input[type=reset],
html .button,
body input[type=submit],
body input[type=reset],
body .button {
  font-size: 14px;
  font-family: "Roboto",Helvetica,sans-serif;
  border: none;
  outline: none;
  border-radius: 2px;
  line-height: 32px;
  padding: 0 10px;
  display: block;
  text-decoration: none;
  background: #ff2d20;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 0 0 1px #b90b00;
}

html input[type=submit]:hover,
html input[type=reset]:hover,
html .button:hover,
body input[type=submit]:hover,
body input[type=reset]:hover,
body .button:hover {
  text-decoration: none;
  background: #ff372a;
  color: #fff;
}

html input[type=submit]:active,
html input[type=reset]:active,
html .button:active,
body input[type=submit]:active,
body input[type=reset]:active,
body .button:active {
  background: #ec0e00;
}

.container {
  width: 100%;
  min-width: 576px;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background: #fff;
  position: relative;
  padding-top: 9px;
}

.header:before {
  content: '';
  width: 100%;
  height: 9px;
  background: url(/images/header_line.png) center center repeat-x;
  display: block;
  position: absolute;
  top: 0;
}

.header>.extras {
  height: 36px;
  line-height: 36px;
  width: 100%;
  border-bottom: #e5e9f2 1px solid;
}

.header>.extras .extras-items {
  max-width: 1200px;
  height: inherit;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
}

.header>.extras a {
  color: #475669;
  margin: 0 10px;
}

.header>.extras a:hover {
  color: #324057;
}

@media (max-width: 767px) {
  .header>.extras {
    display: none;
  }
}

.header>.menu {
  padding: 15px 0;
  border-bottom: #e5e9f2 1px solid;
}

.header>.menu .menu-content {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: stretch;
          justify-content: stretch;
  max-width: 1200px;
  margin: 0 auto;
}

.header>.menu .logo {
  display: block;
  text-decoration: none;
  width: 170px;
  height: 42px;
  background: url(/images/logo.png) center right no-repeat;
  opacity: 1;
  -webkit-transition: opacity .3s ease, width .3s ease;
  transition: opacity .3s ease, width .3s ease;
}

.header>.menu .logo h1 {
  display: none;
}

.header>.menu .menu-aside {
  padding: 0 20px;
  box-sizing: border-box;
  -webkit-box-flex: 1;
          flex: 1;
}

.header>.menu .menu-aside .menu-search {
  height: 42px;
  line-height: 42px;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: stretch;
          justify-content: stretch;
}

.header>.menu .menu-aside .menu-search .menu-search-input,
.header>.menu .menu-aside .menu-search .menu-search-button {
  height: 42px;
  line-height: 42px;
}

.header>.menu .menu-aside .menu-search .menu-search-input {
  width: 100%;
  -webkit-box-flex: 1;
          flex: 1;
  padding: 0 15px;
  border-radius: 2px 0 0 2px;
}

.header>.menu .menu-aside .menu-search .menu-search-button {
  width: 100px;
  border-radius: 0 2px 2px 0;
}

.header>.menu .menu-aside .menu-items {
  width: 100%;
  padding: 10px 0 0 0;
  margin-bottom: -5px;
  line-height: 22px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  font-size: 14px;
}

.header>.menu .menu-aside .menu-items>span,
.header>.menu .menu-aside .menu-items>a {
  color: #475669;
  height: 22px;
  margin: 0 10px;
  font-weight: bold;
  text-decoration: none;
  position: relative;
}

.header>.menu .menu-aside .menu-items>span {
  color: #99a9bf;
}

.header>.menu .menu-aside .menu-items>a {
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.header>.menu .menu-aside .menu-items>a:before {
  pointer-events: none;
  content: '';
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: #ff2d20;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.header>.menu .menu-aside .menu-items>a:hover {
  color: #ff2d20;
}

.header>.menu .menu-aside .menu-items>a:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

@media (max-width: 767px) {
  .header>.menu .logo {
    width: 0;
    opacity: 0;
  }
}

.splash {
  border-bottom: #e5e9f2 1px solid;
  padding: 100px 0;
  overflow: hidden;
}

.splash .container {
  height: 250px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: stretch;
          justify-content: stretch;
}

.splash .splash-image {
  width: 40%;
  opacity: 1;
  -webkit-transition: width .3s ease, opacity .3s ease;
  transition: width .3s ease, opacity .3s ease;
  background: url(/images/human.png) center center no-repeat;
}

.splash .splash-description {
  box-sizing: border-box;
  padding: 0 80px;
  -webkit-transition: width .3s ease;
  transition: width .3s ease;
  width: 60%;
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.splash .splash-description h1 {
  display: block;
  font-weight: 100;
  font-size: 3rem;
  margin: 0;
  padding: 0 0 30px 0;
}

.splash .splash-description span {
  color: #99a9bf;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 991px) {
  .splash .splash-image {
    width: 0;
    opacity: 0;
  }

  .splash .splash-description {
    width: 100%;
  }
}

.section {
  border-bottom: #e5e9f2 1px solid;
  position: relative;
  overflow: hidden;
  font-size: 18px;
  line-height: 32px;
}

.section .container {
  padding: 100px 0;
  position: relative;
}

.section .container span {
  color: #475669;
}

.section .container .section-image {
  position: absolute;
  bottom: 0;
  opacity: 1;
  pointer-events: none;
  -webkit-transition: opacity .3s ease, right .3s ease, left .3s ease;
  transition: opacity .3s ease, right .3s ease, left .3s ease;
}

.section .container .section-description {
  position: relative;
  z-index: 3;
  width: 40%;
  padding: 0 50px;
  box-sizing: border-box;
}

@media (max-width: 991px) {
  .section .container .section-description {
    width: 100%;
  }

  .section .container .section-image {
    opacity: 0;
  }
}

.section.orchid {
  background: #f9fafc url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyBoZWlnaHQ9JzEyMScgd2lkdGg9JzEyMScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48cGF0aCBkPSdNMSA2MGg2MGwtLjAyNC02MEg2MnY2MGg1OXYxSDYydjU5aC0xVjYxSDF6TTAgMGgxdjEyMUgwem0xIDEyMGgxMjB2MUgxeicgZmlsbD0nI0VGRjFGMycgZmlsbC1ydWxlPSdldmVub2RkJy8+PC9zdmc+) top center repeat fixed;
}

.section.orchid .orchid-image {
  right: -900px;
}

.section.orchid .orchid-description .orchid-description-github {
  text-decoration: none;
}

@media (max-width: 991px) {
  .section.orchid .orchid-image {
    right: -1100px;
  }
}

.section.idea {
  background: #fff;
}

.section.idea .container {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.section.idea .idea-image {
  left: 10px;
}

.section.idea .idea-description .idea-description-market {
  text-decoration: none;
}

@media (max-width: 991px) {
  .section.idea .idea-image {
    left: -210px;
  }
}

.section.sleeping-owl {
  background: #f9fafc;
}

.section.sleeping-owl .sleeping-owl-image {
  right: 10px;
}

.section.sleeping-owl .sleeping-owl-description .sleeping-owl-description-github {
  text-decoration: none;
}

@media (max-width: 991px) {
  .section.sleeping-owl .sleeping-owl-image {
    right: -210px;
  }
}

.section.ecosystem .container {
  padding: 50px 0;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: stretch;
          justify-content: stretch;
}

.section.ecosystem h2 {
  text-align: center;
  display: block;
  padding: 0 0 50px 0;
}

.section.ecosystem .ecosystem-plank {
  width: 25%;
  padding: 20px;
  box-sizing: border-box;
}

.section.ecosystem .ecosystem-plank>a {
  height: 300px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 0 0 1px #e5e9f2,0 5px 13px rgba(31,45,61,0.1);
  background: #fff;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.section.ecosystem .ecosystem-plank>a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.footer {
  color: #99a9bf;
  background: #1f2d3d url(/images/footer-logo.png) right bottom no-repeat;
  box-shadow: inset 0 2px 2px #000;
}

.footer a {
  color: #eff2f7;
}

.footer a:hover {
  color: #fff;
}

.footer .footer-content {
  width: 100%;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  padding: 50px 20px;
  box-sizing: border-box;
}

.footer .footer-content .footer-column ul {
  padding: 10px 0 0 20px;
}

.footer .footer-content .footer-column ul>li {
  list-style: none;
  padding: 5px 0;
}

.footer .footer-bottom {
  width: 100%;
  display: -webkit-box;
  display: flex;
  line-height: 32px;
  min-height: 32px;
  -webkit-box-pack: stretch;
          justify-content: stretch;
  padding: 10px 15px;
  box-sizing: border-box;
  box-shadow: 0 -1px 0 #475669;
}

.footer .footer-bottom address {
  font-style: italic;
  color: #99a9bf;
}

.footer .footer-bottom .footer-bottom-menu {
  -webkit-box-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.footer .footer-bottom .footer-bottom-menu a,
.footer .footer-bottom .footer-bottom-menu span {
  margin: 0 10px;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .footer .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-direction: column-reverse;
  }

  .footer .footer-bottom address {
    text-align: center;
  }

  .footer .footer-bottom .footer-bottom-menu {
    padding: 10px 0;
    -webkit-box-pack: center;
            justify-content: center;
  }
}

