
/**
 * Documentation Main Title
 */

h1 {
    margin-top: 0;
    font-size: 6.2rem;
    line-height: 7.4rem;
}

/**
 * Documentation Table Of Contents
 */

h1 + ul {
    font-size: 16px;
    padding-left: .1rem;

    li {
        list-style: none;
        font-weight: normal;
        line-height: 24px;

        &:before {
            background: none;
            content: "#";
            color: $color-red;
            pointer-events: none;
            position: initial;
        }

        a {
            color: $color-text;
            &:hover {
                color: $color-red;
            }
        }
    }

    ul {
        margin: 8px 0;

        li {
            padding-left: .3rem;
        }
    }

    & > li {
        font-weight: bold;
        margin-bottom: 10px;
    }
}

p {
    padding: 10px 0;
}

ul {
    padding-left: 3rem;
    margin-bottom: .25rem;

    li {
        margin-bottom: .5rem;
        list-style: none;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: 10px;
            left: -20px;
            width: 9px;
            height: 10px;
            color: $color-red;
            background: url('data:image/svg+xml;utf8,<svg width="10" height="11" viewBox="0 0 10 11" xmlns="http://www.w3.org/2000/svg"><path d="M5.036 1.965l-3.492 1.94v3.88l3.492 1.94 3.492-1.94v-3.88l-3.492-1.94zm0-1.12l4.5 2.5v5l-4.5 2.5-4.5-2.5v-5l4.5-2.5z" fill="red" fill-rule="nonzero"/></svg>') no-repeat 50%;
            background-size: contain;
        }

        a {
            color: $color-main;
            cursor: pointer;
        }

        ul {
            padding-left: 1rem;

            li {
                margin-bottom: .5rem;
            }
        }
    }
}

.anchor {
    position: relative;
    top: -50px;
}

h1, h2, h3, h4, h5, h6 {
    a {
        position: relative;
        color: inherit;
        text-decoration: none;
    }
}

h1, h2 {
    a {
        &:before {
            position: absolute;
            content: "#";
            color: $color-description;
            left: -2rem;
            font-weight: 100;
            transition: .2s ease;
            opacity: .2;
            transform-origin: 50% 50%;
            transform: scale(.7);
        }

        &:hover:before {
            color: $color-main;
            opacity: 1;
            transform: scale(1);
        }
    }
}

pre {
    margin: 15px 0;

    & > code {
        box-shadow: 0 0 0 2px $color-border;
        overflow: auto;

        &::-webkit-scrollbar,
        &::-webkit-scrollbar-corner {
            width: 4px;
            height: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba($color-main, .9);
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }
    }
}

& > p > code {
    color: $color-extra-light-black;
    background: $color-extra-light-gray;
}

.collection-method {
    color: $color-main-text;
    font-weight: normal;
    code {
        box-shadow: none;
    }
}

// Extras
// --- collections.md
#collection-method-list > p {
    column-count: 3;
    column-gap: 2em;
}

#collection-method-list a {
    display: block;
}

// --- collections.md
#collection-method code {
    font-size: 14px;
}

#collection-method:not(.first-collection-method) {
    margin-top: 50px;
}

// --- valet.md
#valet-support > ul {
    column-count: 3;
    line-height: 1.9;
}
