
/**
 * Global Menu Styles
 */

ul {
    margin-bottom: .5rem;

    li {
        list-style: none !important;
    }

    a {
        letter-spacing: 0;
        line-height: 36px;
        font-size: 16px;
        padding-left: 1rem;
        color: $color-silver;
        display: block;
        border-radius: 3px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        position: relative;
        z-index: 1;
        text-transform: none;

        &:hover {
            color: $color-main;
            text-decoration: none;
        }

        &.external-link {
            &:after {
                @include fa-icon;
                content: $fa-var-external-link;
                margin-left: 4px;
                position: relative;
                top: -4px;
                transform: scale(.7);
            }
        }

        &.active,
        &.active:hover,
        &.active:active,
        &.active:focus {
            color: $color-white;
            background: $color-main;
            text-decoration: none;
            cursor: default;
            transition:
                color .6s ease,
                background .6s ease
            ;

            &:before {
                display: none;
            }
        }
    }
}

/**
 * Root Navigation Level (Titles)
 */
& > ul {
    h2 {
        margin: 0 !important;
        font-size: inherit !important;
        font-weight: inherit !important;
    }

    & > li {
        color: $color-extra-light-black;
        margin: 15px 0;
        text-transform: uppercase;
        line-height: 26px;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1px;

        /**
         * Secondary Navigation Level (Menu)
         */
        & > ul {
            padding: 10px 0;
        }
    }
}
