.footer {
    color: $color-light-silver;
    background: $color-black url(/images/footer-logo.png) right bottom no-repeat;
    box-shadow: inset 0 2px 2px #000;

    a {
        color: $color-extra-light-gray;

        &:hover {
            color: #fff;
        }
    }

    .footer-content {
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 50px 20px;
        box-sizing: border-box;

        .footer-column {
            ul {
                padding: 10px 0 0 20px;

                & > li {
                    list-style: none;
                    padding: 5px 0;
                }
            }
        }
    }

    .footer-bottom {
        width: 100%;
        display: flex;
        line-height: $ui-height;
        min-height: $ui-height;
        justify-content: stretch;
        padding: 10px 15px;
        box-sizing: border-box;
        box-shadow: 0 -1px 0 $color-extra-light-black;

        address {
            font-style: italic;
            color: $color-description;
        }

        .footer-bottom-menu {
            flex: 1;
            display: flex;
            justify-content: flex-end;

            a, span {
                margin: 0 10px;
                white-space: nowrap;
            }
        }


        @include media-breakpoint-down(sm) {
            flex-direction: column-reverse;

            address {
                text-align: center;
            }

            .footer-bottom-menu {
                padding: 10px 0;
                justify-content: center;
            }
        }
    }
}
