@import "bootstrap/scss/functions";


// scss-docs-start theme-color-variables
$primary: #f9322c;
$dark: #212529;

$body-secondary-bg: #EBEEF4;
$body-secondary-bg-dark: #1A1E28;//shade-color($body-secondary-bg, 85);

/*
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;
// scss-docs-end theme-color-variables
*/

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1120px,
);

$body-bg: #fafafa;
$body-bg-dark: #171923;


$body-tertiary-bg: #fff;
$body-tertiary-bg-dark: #252a37;

$dark-bg-subtle-dark: #111319;

$border-radius: 1.625rem;
$border-radius-sm: 0.25rem !default;
$border-radius-lg: 0.5rem !default;
$border-radius-xl: 1rem !default;
$border-radius-xxl: 2rem !default;
$border-radius-pill: 50rem !default;

$font-family-sans-serif:
    'Raleway',
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    'Noto Sans',
    'Liberation Sans',
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji' !default;
$btn-border-radius: 0.75rem;
$border-width: 2px;
$btn-font-weight: 700;

$enable-negative-margins: true;



$utilities: (
    "line-clamp": (
        property: -webkit-line-clamp,
        class: line-clamp,
        responsive: true,
        values: (
            1: 1,
            2: 2,
            3: 3,
            4: 4,
            5: 5,
        )
    ),
);


@import 'bootstrap/scss/bootstrap';
@import 'prism';
@import 'back-to-top';
@import 'clipboard';
@import 'docs';
@import 'ticket';


.post {
    @extend .text-break;

    h1 {
        @extend .display-3;
        line-height: 1;
        font-weight: 800;
        margin: 0 0 2rem;
        text-wrap: balance!important;
    }

    h2 {
        line-height: 1.23;
        margin: 0 0 1rem;
    }

    p {
        line-height: 2rem;
        font-size: $font-size-lg;
        margin: 0 0 1.5rem;
    }

    img {
        @extend .bg-light;
        @extend .rounded;
        width: 100%;
        min-height: 400px;
        object-fit: cover;
        display: block;
    }

    figure {
        margin: 0 0 1.5rem;
    }

    figcaption {
        @extend .small;
        display: block;
        margin: 1em;
        padding: 0 2rem;
        opacity: 0.75;
        text-align: center;
    }
}

.avatar {
    border-radius: 10em;
}
.avatar-sm {
    max-width: 40px;
}
.avatar-xl {
    width: 80px;
    margin: 0 auto;
}

.avatar-xxl {
    width: 8rem;
    height: 8rem;
}

.avatar-img {
    aspect-ratio: 1/1;
    max-width: 100%;
    object-fit: cover;
}

.company-usage img {
    filter: grayscale(100%);
    height: 60px;
    object-fit: contain;
}

.body-content pre {
    color: #fff;
    background: #252a37;
    padding: 2em 1.5em;
    margin: 0 -3rem 2em -3rem;
}


.feature-icon-small {
    width: 3rem;
    height: 3rem;
}

.link-icon-animation {
    svg {
        transition: 340ms all;
        padding-right: 0.1em;
    }

    &:hover {
        svg {
            padding-right: 0 !important;
        }
    }
}



.line-clamp {
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
}




// Need usage Bootstrap settings

.btn.btn-primary, .btn.btn-outline-primary:hover {
    color: var(--bs-body-bg);
}




@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hotwire-frame {
    opacity: 0;
    animation: fade-in 0.5s ease-in-out forwards;
}

.thread {
    position: relative;
    overflow: hidden;

    &:before {
        position: absolute;
        display: block;
        top: 0;
        left: 1rem;
        content: "";
        width: 2px;
        height: 100%;
        background-color: rgb(234, 154, 154);//rgba($primary, .3)
    }

    .comment:last-child:before {
            display: none;
    }
}

.comment {
    position: relative;
    overflow: hidden;
    &:before {
        position: absolute;
        display: block;
        top: 3.5rem;
        left: 1rem;
        content: "";
        width: 2px;
        height: 100%;
        background-color: rgb(234, 154, 154);//rgba($primary, .2)
    }

    /*
    .comment-reply {
        .comment {
            :before{
                position: relative;
                display: block;
                top: 57px;
                content: "";
                width: 23px;
                height: 3px;
                background-color: opacify($primary, 0.1);
            }

            :after{
                position: absolute;
                display: block;
                top: 60px;
                left: -36px;
                content: "";
                width: 3px;
                height: calc(100% - 60px);
                background-color: opacify($primary, 0.1);
            }
        }
    }

     */
}
