@import 'bootstrap/scss/functions';

// scss-docs-start theme-color-variables
$primary: #f9322c;
$dark: #212529;

$body-secondary-bg: #ebeef4;
$body-secondary-bg-dark: #1a1e28;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1120px,
);

$body-bg: #fafafa;
$body-bg-dark: #161822; //#171923;
$body-color: #222;

$headings-color: #272531;
$headings-color-dark: #dee2e6;

$body-emphasis-color-dark: #dee2e6;

$body-tertiary-bg: #fff;
$body-tertiary-bg-dark: #252a37;

$dark-bg-subtle-dark: #14161f; //#111319;

//$border-radius: 1.625rem;
$border-radius: 0.85rem;
$border-radius-sm: 0.25rem !default;
$border-radius-lg: 0.5rem !default;
$border-radius-xl: 1rem !default;
$border-radius-xxl: 2rem !default;
$border-radius-pill: 50rem !default;

$font-family-sans-serif:
    'Inter',
    //'Raleway',
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    'Noto Sans',
    'Liberation Sans',
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';

$headings-font-family: 'Raleway', system-ui;
$btn-font-family: 'Raleway', system-ui;

$btn-border-radius: 0.75rem;
$border-width: 2px;
$btn-font-weight: 700;

$enable-negative-margins: true;
$input-border-width: 0;
$input-bg: var(--bs-secondary-bg);
$input-padding-y: 0.5rem;
$input-padding-x: 1rem;

$badge-font-weight: normal;

$utilities: (
    'line-clamp': (
        property: -webkit-line-clamp,
        class: line-clamp,
        responsive: true,
        values: (
            1: 1,
            2: 2,
            3: 3,
            4: 4,
            5: 5,
        ),
    ),
);

%heading {
    text-wrap: balance;
}

@import 'bootstrap/scss/bootstrap';
@import 'reset';
@import 'prism';
@import 'back-to-top';
@import 'clipboard';
@import 'docs';
@import 'ticket';
@import 'transition';
@import 'markdown-editor';
@import 'utilities';
@import 'hangman';
@import 'thread';
@import 'marketing';
@import 'post';

.avatar {
    border-radius: 10em;
}
.avatar-sm {
    max-width: 40px;
}
.avatar-xl {
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.avatar-xxl {
    width: 8rem;
    height: 8rem;
}

.avatar-img {
    aspect-ratio: 1/1;
    max-width: 100%;
    min-width: 40px;
    object-fit: cover;
}

.company-usage img {
    filter: grayscale(100%) contrast(0.5);
    opacity: 0.8;
    height: 60px;
    object-fit: contain;
}

.footer-sun {
    object-position: top center;
}

// Need usage Bootstrap settings

.btn.btn-primary,
.btn.btn-outline-primary:hover {
    color: var(--bs-body-bg);
}

.form-search {
    overflow: hidden;
    font-size: 1em;
    line-height: 1.5;
    outline: none !important;
    @extend .text-body-emphasis;
    @extend .bg-body-secondary;
    @extend .rounded-0;
    @extend .border-0;

    &::placeholder {
        @extend .text-body-emphasis;
        opacity: 0.5;
    }
}

.bg-light-danger {
    background-color: #fbdbd9 !important;
}

.to-transparent {
    background-image: linear-gradient(to top, var(--bs-tertiary-bg), rgb(var(--bs-tertiary-bg-rgb), 0%));
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    z-index: 2;
    height: 4rem;
}

.sponsors {
    img {
        max-width: 75%;
        height: 64px;
    }
}

.profile-cover {
    height: 150px;
    background-image: url('$image/ui/background-profile.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fafafa;
}

@include media-breakpoint-up(md) {
    .profile-cover {
        height: 200px;
    }
}

.quiz-code-hover {
    opacity: 0.25 !important;
    filter: blur(2px);
    transition: all 350ms ease-in-out;
    &:hover {
        opacity: 1 !important;
        filter: blur(0);
    }
}

.hero-image {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, $primary 150%);
}

.tentacle {
    position: relative;
    bottom: -10%;
}

@include media-breakpoint-down(lg) {
    .package-cover {
        height: 110px;
    }
    .tentacle {
        position: relative;
        bottom: -5%;
    }
}

.pb-6 {
    padding-bottom: 3.8rem !important;
}

.challenge-blur {
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(0.5rem) brightness(0.5);
    background-image: url('/img/bg-packages.svg');
    width: 100%;
    height: 100%;
    z-index: 1;
}
