// Usage in markdown files

@mixin column-settings($count, $gap) {
    column-count: $count;
    -moz-column-count: $count;
    -webkit-column-count: $count;
    column-gap: $gap;
    -moz-column-gap: $gap;
    -webkit-column-gap: $gap;
    padding-left: 0;
    list-style: none;

    li {
        padding-bottom: 0;
    }
}

.docs-column-list,
.docs-column-list-2,
.docs-column-list-1 {
    ul {
        @include column-settings(1, 2em);
        li {
            padding-bottom: 0;
        }
    }

    a {
        display: block;
    }
}
@include media-breakpoint-up(md) {
    .docs-column-list {
        ul {
            @include column-settings(2, 2em);
        }
    }
}

@include media-breakpoint-up(xl) {
    .docs-column-list {
        ul {
            @include column-settings(3, 2em);
        }
    }
    .docs-column-list-2 {
        ul {
            @include column-settings(2, 2em);
        }
    }
}
// PORT FROM ORCHID NEED CHANGED (AND REMOVED)

.anchors {
    ul {
        list-style: none;
        padding: 0;
        li {
            margin: 0;
            padding: 0;

            &.anchor-h3 {
                margin-left: 1.5em;
                //list-style: inside;

                a {
                    opacity: 0.5;
                }
            }

            &.anchor-h4 {
                margin-left: 2.5em;
                //list-style: inside;
            }
        }
    }
    a {
        opacity: 0.75;
        @extend .link-body-emphasis;
        transition: all 340ms ease;
        text-decoration: none;
        &:hover {
            opacity: 1;
        }
        &:before {
            content: '# ';
            color: $primary;
        }
    }
}

main,
.main,
main div {
    line-height: 1.8em;

    *:last-child {
        margin-bottom: 0 !important;
    }

    ol {
        padding: 0 1.5rem;
    }

    a {
        @extend .link-underline;
        @extend .link-underline-opacity-25;
        @extend .link-underline-opacity-75-hover;
    }

    table {
        @extend .table;
        @extend .table-bordered;
    }

    .h2,
    .h3,
    h2,
    h3 {
        margin-top: 1.5em;
        margin-bottom: 15px;
    }

    h4,
    h5,
    h6 {
        margin-top: 1.25em;
    }

    p {
        font-size: 1em;
        line-height: 1.6em;
        margin-bottom: 1.5rem;
        @extend .text-wrap;
        @extend .text-break;
        text-wrap: pretty !important;

        > a {
            text-decoration: underline;
        }

        :empty {
            display: none;
        }
    }

    code {
        @extend .text-wrap;
        //@extend .text-nowrap;
        //text-wrap: pretty !important;
        color: rgb(235, 68, 50);
    }

    #support-policy {
        @extend .table-responsive;
    }
}

main,
.main,
.post {
    line-height: 1.5em;
    overflow: initial;

    img {
        display: block !important;
        max-width: 100%;
        object-fit: cover;
        border-radius: 0.5em;
        margin: 0 auto;
    }

    picture {
        &:after {
            content: attr(alt);
            text-align: center;
            display: block;
            @extend .text-muted;
            font-size: 0.775em;
            max-width: calc(66% - 48px);
            margin: 1em auto 2em auto;
            line-height: 1.5em;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        a {
            @extend .link-body-emphasis;
            text-decoration: none;
            position: relative;
        }
    }

    .base-header {
        a {
            padding-left: 1em;
            transition: all 340ms;
            &:before {
                transition: all 340ms;
                content: '#';
                margin-left: -1em;
                position: absolute;
                font-size: 1em;
                color: $primary;
                opacity: 0.5;
            }

            &:hover {
                &:before {
                    opacity: 1;
                }
            }
        }
    }

    h2 {
        margin-bottom: 1em !important;

        a:target {
            &:before {
                transform: rotate(200deg);
            }
        }

        @extend .base-header;
    }

    /* решётки для заголовков
    h3,h4,h5,h6 {
        @extend .base-header;
    }

    */
    /*
    p {
        margin: 0 0 1em;
    }

     */

    li {
        padding-bottom: 1em;
    }

    li:last-child {
        padding-bottom: 0.33em;
    }

    pre {
        margin-bottom: 2em !important;
    }

    /*
    .docs-blockquote-tip, .docs-blockquote-note {
        display: flex;
        align-items: center;

        &:before {
            color: #fff;
            content: '!';
            width: 1.5em;
            height: 1.5em;
            border-radius: 100%;
            text-align: center;
            font-weight: 600;
            font-size: 1.5em;
            display: flex;
            align-self: center;
            justify-content: center;
            align-items: center;
            margin-right: 3em;
        }
    }

     */

    .docs-blockquote-tip {
        //background-color: #B4FFC5!important;
        //background: transparentize($info, 0.85) !important;
        //border: 1px solid transparentize($info, 0.5);
        &:before {
            //background-color: transparentize($info, 0.65);
            background-color: #8df1a4;
            background-image: url('$image/ui/info.svg');
            content: '';
        }
    }

    .docs-blockquote-note {
        //border: 1px solid transparentize($danger, 0.5);
        //background: transparentize($danger, 0.90) !important;
        &:before {
            //background-color: transparentize($danger, 0.65);
            background-color: #f1a58d;
            background-image: url('$image/ui/warning.svg');
            content: '';
        }
    }

    blockquote {
        display: flex;
        //background: #F9F9FE;
        @extend .bg-body;
        @extend .shadow;
        border-radius: 0.8rem;
        position: relative;
        margin: 2em 0;
        @extend .text-wrap;
        @extend .text-break;
        overflow: hidden;
        align-items: stretch;

        div {
            padding: 2rem 1.5rem;
        }

        &:before {
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            border: solid 2.5rem #0000;
            background-color: $gray-500;
            color: #fff;
            content: ' ';
            @extend .col-xl-2;
            text-align: center;
            font-weight: 600;
            font-size: 1.5em;
            min-height: 5em;
        }

        @include media-breakpoint-down(md) {
            &:before {
                border: solid 2rem #0000;
                width: 30%;
                flex: 0 0 auto;
            }
        }

        > p {
            //margin-bottom: 0;
        }

        p:first-child {
            margin-top: auto;
        }

        p:last-child {
            margin-bottom: auto !important;
        }
    }
}

.doc-navigation {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    max-height: 100vh;
    overflow: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

.container-docs {
    max-width: 1680px;
    margin: 0 auto;
}
