.post {
    @extend .text-break;

    h1 {
        @extend .display-5;
        @extend .fw-bold;
        @extend .text-body-emphasis;
        @extend .mb-4;
        //line-height: 1;
        text-wrap: balance !important;
    }

    h2 {
        line-height: 1.23;
        margin: 0 0 1rem;
    }

    .h2,
    .h3,
    h2,
    h3 {
        margin-top: 1.5em;
        margin-bottom: 1rem;
    }

    h4,
    h5,
    h6 {
        margin-top: 1.25em;
    }

    table {
        @extend .table;
        @extend .table-bordered;
    }

    img {
        @extend .bg-body-secondary;
        @extend .rounded;
        width: 100%;
        min-height: 200px;
        object-fit: cover;
        display: block;
    }

    figure {
        margin: 0 0 1.5rem;
    }

    figcaption {
        @extend .small;
        display: block;
        margin: 1em;
        padding: 0 2rem;
        opacity: 0.75;
        text-align: center;
    }
}

.post-preview-text {
    max-height: 25rem;
    overflow: hidden;
    position: relative;

    pre {
        overflow: hidden !important;
    }
}
