body, button {
    font-variant-numeric: lining-nums proportional-nums;
}

textarea {
    resize: none;
}


.lead {
    font-family: $headings-font-family;
    @extend .text-balance;
}


pre {
    border-radius: 0.8rem;

    code {
        white-space: inherit!important;
    }
}
