@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

::view-transition-old(frame) {
    animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out;
}

::view-transition-new(frame) {
    animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in;
}

/*
.hotwire-frame,
#popular-list > div {
    view-transition-name: frame;
    animation-duration: 350ms;
}
 */

@keyframes shake {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(1em);
    }
    40% {
        transform: translate(-1em);
    }
    60% {
        transform: translate(1em);
    }
    80% {
        transform: translate(-1em);
    }
    100% {
        transform: translate(0);
    }
}

.animate-shake {
    animation: shake 0.5s infinite;
    animation-iteration-count: 1;
}
