
h1 {
    margin-top: 0;
    font-size: 6.2rem;
    line-height: 7.4rem;
}

h1 + ul {
    font-size: 16px;
    padding-left: .1rem;

    li {
        list-style: none;
        font-weight: normal;
        line-height: 18px;

        &:before {
            background: none;
            content: "#";
            color: $color-red;
            pointer-events: none;
            position: initial;
        }

        a {
            color: $color-text;
            &:hover {
                color: $color-red;
            }
        }
    }

    ul {
        margin: 5px 0;

        li {
            padding-left: .2rem;
        }
    }

    & > li {
        font-weight: bold;
        margin-bottom: 10px;
    }
}

p {
    padding: 10px 0;
}

ul {
    padding-left: 3rem;
    margin-bottom: .25rem;

    li {
        margin-bottom: .5rem;
        list-style: none;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: 10px;
            left: -20px;
            width: 9px;
            height: 10px;
            color: $color-red;
            background: url('data:image/svg+xml;utf8,<svg width="10" height="11" viewBox="0 0 10 11" xmlns="http://www.w3.org/2000/svg"><path d="M5.036 1.965l-3.492 1.94v3.88l3.492 1.94 3.492-1.94v-3.88l-3.492-1.94zm0-1.12l4.5 2.5v5l-4.5 2.5-4.5-2.5v-5l4.5-2.5z" fill="red" fill-rule="nonzero"/></svg>') no-repeat 50%;
            background-size: contain;
        }

        a {
            color: $color-main;
            cursor: pointer;
        }

        ul {
            padding-left: 1rem;

            li {
                margin-bottom: .5rem;
            }
        }
    }
}

h2 {
    a {
        &:before {
            content: "#";
            color: $color-description;
            margin-right: .25rem;
        }
    }
}

h3, h4 {
    a {
        text-decoration: none;
        color: inherit;
    }
}

pre {
    margin: 15px 0;
}

// Extras
// --- collections.md
#collection-method-list > p {
    column-count: 3;
    column-gap: 2em;
}

#collection-method-list a {
    display: block;
}

// --- collections.md
#collection-method code {
    font-size: 14px;
}

#collection-method:not(.first-collection-method) {
    margin-top: 50px;
}

// --- valet.md
#valet-support > ul {
    column-count: 3;
    line-height: 1.9;
}
