
h1 + ul {
    font-size: 15px;

    li {
        font-weight: normal;
        line-height: 18px;
        margin-bottom: .5em;
    }

    ul {
        margin: 5px 0;

        li {
            padding-left: 24px;
        }
    }

    & > li {
        font-weight: bold;
        margin-bottom: 10px;
    }
}

p {
    padding: 10px 0;
}

ul {
    li {
        margin-bottom: .5rem;
        list-style: none;

        a {
            color: $color-main;
            cursor: pointer;
        }

        &:before {
            content: "#";
            color: $color-description;
            margin-right: .25rem;
        }

        ul {
            padding-top: .25rem;
            padding-left: 1rem;

            li {
                margin-bottom: .5rem;
            }
        }
    }

    padding-left: .5rem;
    margin-bottom: .25rem;
}

h2 {
    a {
        &:before {
            content: "#";
            color: $color-description;
            margin-right: .25rem;
        }
    }
}

h3, h4 {
    a {
        text-decoration: none;
        color: inherit;
    }
}

pre {
    margin: 15px 0;
}

// Extras
// --- collections.md
#collection-method-list > p {
    column-count: 3;
    column-gap: 2em;
}

#collection-method-list a {
    display: block;
}

// --- collections.md
#collection-method code {
    font-size: 14px;
}

#collection-method:not(.first-collection-method) {
    margin-top: 50px;
}
