.documentation {
    display: flex;
    flex-direction: row;

    &-menu {
        min-width: 230px;
        width: 230px;
        margin-right: 20px;

        @import "menu";
    }

    &-content {
        line-height: 32px;
        font-size: 16px;
        padding: 0 0 100px 0;
        width: 100%;

        @import "content";
    }

    .translation-status {
        display: block;
        padding: 10px 20px;
        background: #f9fafc;
        margin: 0 auto 10px auto;
        height: auto;
        font-size: 12px;

        .fa {
            display: inline-block;
            width: 40px;

            &:before {
                left: 20px;
                top: 9px;
                position: absolute;
                font-size: 28px;
                opacity: .2;
            }
        }
    }
}
