.layout-documentation {
    background: $color-dark-white;
}

@import "documentation/versions";

.documentation {
    display: flex;
    flex-direction: row;

    @import "documentation/menu";
    @import "documentation/content";
}
