ul {
    margin-bottom: 1.5rem
}

ul li {
    list-style: none !important;
    margin: 0;
    line-height: 32px;
    font-size: 14px;
}

& > ul > li,
& > ul > li > h2 {
    font-size: 18px !important;
    font-weight: 400;
    color: $color-silver;
    margin: 0;
}

& > ul > li > ul {
    padding: 20px 0 10px 0;
    text-transform: none;
}

ul li a {
    padding-left: .75rem;
    color: $color-extra-light-black;
    font-weight: normal !important;

    &:hover {
        color: $color-main;
    }
}

li.item-active {
    background: $color-black;
    border-radius: 3px;

    a.link-active {
        color: #fff;
        text-decoration: none;
        cursor: default;

        &:hover,
        &:active,
        &:focus {
            color: #fff !important;
            outline: none;
        }
    }
}
