.translation-progress {
    padding-bottom: 100px;

    &-menu {
        column-count: 6;
        column-gap: 2em;
        line-height: 32px;
        margin: 15px 0;
        background: #f9fafc;
        border-radius: 3px;
        padding: 10px 20px;

        &-visible {
            color: $color-green;
            &:before {
                @include la-icon;
                content: $la-icon-ok;
                width: 20px;
            }
        }

        &-hidden {
            color: $color-description;
            &:before {
                @include la-icon;
                content: '';
                width: 20px;
            }

            &.active:before {
                content: $la-icon-cancel;
            }
        }

        &-visible,
        &-hidden {
            display: inline-block;
            outline: none;
            padding: 0 10px;
            border-radius: 2px;
            height: 25px;
            line-height: 25px;
            margin-right: 25%;
            text-decoration: none;

            &:hover {
                background: #fff;
                text-decoration: none;
            }

            &.active {
                color: #fff;
                background: #ff2d20;
                text-decoration: none;
                cursor: default;
            }
        }
    }

    table td {
        width: 50%;
    }

    .translation-progress-description {
        color: $color-description;
        font-style: italic;
        display: block;
        margin: 20px 0;
    }

    .translation-page {
        &-main {
            td {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }

        &-description {
            color: $color-description;
            font-style: italic;
            display: block;
            margin: 10px 0;
        }

        &-status {
            text-align: right;
        }

        &-info {
            text-align: right;
            color: $color-description;
            box-shadow: none;
            background: none;

            hr {
                background: none;
                margin: 6px 0;
            }

            .diff_command{
                font-size: 15px;
                font-family: "Roboto Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
                margin-left: 8px;
            }
        }
    }

}

.copy_to_clipboard{
    cursor: pointer;
}

.clipboard_icon{
    height: 20px;
    width: 20px;
    vertical-align: bottom;
}
