.translation-progress {
    padding-bottom: 100px;

    &-menu {
        column-count: 4;
        column-gap: 2em;
        line-height: 32px;
        margin: 15px 0;
        background: #f9fafc;
        border-radius: 3px;
        padding: 10px 20px;

        &-visible .fa {
            color: $color-red;
        }

        &-hidden .fa {
            color: $color-description;
        }

        &-visible,
        &-hidden {
            display: inline-block;
            outline: none;
            padding: 0 10px;
            border-radius: 2px;
            height: 25px;
            line-height: 25px;
            margin-right: 25%;
            text-decoration: none;

            .fa {
                margin-right: 7px;
                &:before {
                    min-width: 14px;
                }
            }

            &:hover {
                background: #fff;
                text-decoration: none;
            }

            &.active {
                color: #fff;
                background: #ff2d20;
                text-decoration: none;
                cursor: default;

                .fa {
                    color: #fff;
                }
            }
        }
    }

    &-version {
        .translation-progress-visible,
        .translation-progress-hidden {
            &:after {
                @include fa-icon;
                content: '';
                width: 36px;
                margin-left: 10px;
                color: $color-description;
            }
        }

        .translation-progress-visible {
            &:after {
                content: $fa-var-eye;
            }
            & + .translation-progress-description {
                color: $color-green;
            }
        }

        .translation-progress-hidden {
            &:after {
                content: $fa-var-eye-slash;
            }
            & + .translation-progress-description {
                color: $color-description;
            }
        }

        .translation-progress-description {
            color: $color-description;
            font-style: italic;
            display: block;
            margin: 20px 0;
        }

        .translation-page {
            &-main {
                td {
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }

            &-description {
                color: $color-description;
                font-style: italic;
                display: block;
                margin: 10px 0;
            }

            &-status {
                text-align: right;
            }

            &-info {
                text-align: right;
                color: $color-description;
                box-shadow: none;
                background: none;

                hr {
                    background: none;
                }
            }
        }
    }
}
