.versions {
    box-sizing: border-box;
    padding: 10px 20px !important;
    background: #fff;
    border: $color-border 1px solid;
    border-radius: 3px;
    line-height: 25px;
    margin: 10px auto 20px auto;

    .label {
        margin-left: 10px;
    }

    & > a {
        color: #ff2d20;

        &:hover {
            background: #fff;
            text-decoration: none;
        }
    }

    & > aside {
        float: right;
    }
}
