
blockquote {
    padding: 20px 30px;
    height: auto;
    line-height: $font-size + 12px;
    color: $color-text;
    margin: 20px 0;
    min-height: 22px;
    position: relative;
    border-radius: 3px;
    border-left: $color-blue 4px solid;
    background: lighten($color-blue, 28%);

    &:before {
        content: '';
        display: block;
        width: 32px;
        height: 32px;
        text-align: center;
        line-height: 32px;
        position: absolute;
        left: 22px;
        top: 50%;
        margin-top: -16px;
        background-size: 32px auto !important;
        pointer-events: none;
        @include la-icon;
        font-size: 32px;
    }

    a {
        color: inherit;
        text-decoration: underline;

        &:hover {
            color: inherit;
            text-decoration: none;
        }
    }

    code {
        background: rgba($color-white, .5);
        box-shadow: 0 0 0 1px desaturate(lighten($color-blue, 20%), 30%);
        font-size: .9em;
    }

    &.quote-video {
        border-left: $color-purple 4px solid;
        background: lighten($color-purple, 26%);
        color: rgba(desaturate(darken($color-purple, 38%), 46%), .9);
        padding-left: 78px;

        code {
            box-shadow: 0 0 0 1px desaturate(lighten($color-purple, 28%), 30%);
            background: rgba($color-white, .4);
        }

        &:before {
            content: $la-icon-video;
            color: desaturate(lighten($color-purple, 12%), 16%);
        }
    }

    &.quote-note {
        border-left: $color-red 4px solid;
        background: lighten($color-red, 40%);
        color: rgba(desaturate(darken($color-red, 30%), 64%), .9);
        padding-left: 78px;

        code {
            box-shadow: 0 0 0 1px desaturate(lighten($color-red, 32%), 34%);
            background: rgba($color-white, .4);
        }

        &:before {
            content: $la-icon-warning;
            color: desaturate(lighten($color-red, 24%), 30%);
        }
    }

    &.quote-tip {
        padding-left: 78px;

        &:before {
            content: $la-icon-quote;
            color: desaturate(lighten($color-blue, 18%), 30%);
        }
    }
}
