pre, code {
    font: {
        family: $font-mono;
    }
}

code {
    background: $color-white;
    border-radius: 3px;
    padding: 2px 6px;
    box-sizing: border-box;
    line-height: $ui-min-height;
    height: $ui-min-height;
}

pre > code {
    display: block;
    white-space: pre;
    padding: 20px 30px;
    height: auto;
    border-radius: 6px;
    line-height: $font-size + 8px;
    text-shadow: 0 0 1px rgba($color-text, .1);
}

.hljs {

    &-doctag,
    &-keyword,
    &-meta &-keyword,
    &-template-tag,
    &-template-variable,
    &-type,
    &-variable.language_ {
        /* prettylights-syntax-keyword */
        color: lighten($color-main, 14%);
    }

    &-title,
    &-title.class_,
    &-title.class_.inherited__,
    &-title.function_ {
        /* prettylights-syntax-entity */
        color: lighten($color-purple, 13%);
    }

    &-attr,
    &-attribute,
    &-literal,
    &-meta,
    &-number,
    &-operator,
    &-variable,
    &-selector-attr,
    &-selector-class,
    &-selector-id {
        /* prettylights-syntax-constant */
        color: lighten($color-blue, 2%);
    }

    &-regexp,
    &-string,
    &-meta &-string {
        /* prettylights-syntax-string */
        color: desaturate(lighten($color-green, 35%), 36%);
    }

    &-built_in,
    &-symbol {
        /* prettylights-syntax-variable */
        color: #f69d50;
    }

    &-comment,
    &-code,
    &-formula {
        /* prettylights-syntax-comment */
        color: #768390;
    }

    &-name,
    &-quote,
    &-selector-tag,
    &-selector-pseudo {
        /* prettylights-syntax-entity-tag */
        color: #8ddb8c;
    }

    &-subst {
        /* prettylights-syntax-storage-modifier-import */
        color: #adbac7;
    }

    &-section {
        /* prettylights-syntax-markup-heading */
        color: #316dca;
        font-weight: bold;
    }

    &-bullet {
        /* prettylights-syntax-markup-list */
        color: #eac55f;
    }

    &-emphasis {
        /* prettylights-syntax-markup-italic */
        color: #adbac7;
        font-style: italic;
    }

    &-strong {
        /* prettylights-syntax-markup-bold */
        color: #adbac7;
        font-weight: bold;
    }

    &-addition {
        /* prettylights-syntax-markup-inserted */
        color: #b4f1b4;
        background-color: #1b4721;
    }

    &-deletion {
        /* prettylights-syntax-markup-deleted */
        color: #ffd8d3;
        background-color: #78191b;
    }

    &-char.escape_,
    &-link,
    &-params,
    &-property,
    &-punctuation,
    &-tag {
        /* purposely ignored */
    }

}
