pre, code {
    font: {
        size: $font-size + 1px;
        family: $font-mono;
    }
}

code {
    background: #fff;
    border-radius: 3px;
    padding: 2px 6px;
    box-sizing: border-box;
    line-height: $ui-min-height;
    height: $ui-min-height;
    box-shadow: 0 2px 5px rgba($color-text, .2);
}

pre > code {
    background: #fff;
    display: block;
    white-space: pre;
    padding: 20px 30px;
    height: auto;
    border-radius: 6px;
    line-height: $font-size + 8px;
    text-shadow: 0 0 1px rgba($color-text, .1);
}

.hljs {
    position: relative;

    &-comment,
    &-quote {
        color: #aeacba;
        font-weight: 100;
        font-style: italic;
    }

    &-keyword {
        color: #836789;
    }

    &-selector-tag,
    &-subst {
        color: #333;
    }

    &-number,
    &-literal,
    &-variable,
    &-template-variable,
    &-tag &-attr {
        color: #008080;
    }

    &-string,
    &-doctag {
        color: #ee4c42;
    }

    &-title,
    &-section,
    &-selector-id {
        color: #835cb9;
        font-weight: bold;
    }

    &-subst {
        font-weight: normal;
    }

    &-type {
        color: #458;
    }

    &-class &-title {
        color: $color-text;
    }

    &-tag,
    &-name,
    &-attribute {
        color: #000080;
        font-weight: normal;
    }

    &-regexp,
    &-link {
        color: #009926;
    }

    &-symbol,
    &-bullet {
        color: #990073;
    }

    &-built_in,
    &-builtin-name {
        color: #0086b3;
    }

    &-meta {
        color: #999;
    }

    &-deletion {
        background: #fdd;
    }

    &-addition {
        background: #dfd;
    }

    &-emphasis {
        font-style: italic;
    }

    &-strong {
        font-weight: bold;
    }
}
