pre, code {
    font: {
        size: $font-size + 1px;
        family: $font-mono;
    }
}

code {
    background: $color-dark-white;
    border-radius: 2px;
    padding: 2px 6px;
    box-sizing: border-box;
    line-height: $ui-min-height;
    height: $ui-min-height;
    box-shadow: 0 1px 0 $color-light-gray;
}

pre > code {
    background: $color-light-gray;
    display: block;
    white-space: pre;
    background: $color-bg;
    padding: 20px 30px;
    height: auto;
    border-radius: 6px;
    line-height: $font-size + 8px;
    text-shadow: 0 0 1px rgba(0, 0, 0, .2);
}


.hljs {
    position: relative;

    &-comment,
    &-quote {
        color: #bbbfb9;
        font-weight: 100;
        font-style: italic;
        text-shadow: 0 0 1px #fff;
    }

    &-keyword {
        color: #07a;
    }

    &-selector-tag,
    &-subst {
        color: #333;
    }

    &-number,
    &-literal,
    &-variable,
    &-template-variable,
    &-tag &-attr {
        color: #008080;
    }

    &-string,
    &-doctag {
        color: $color-red;
    }

    &-title,
    &-section,
    &-selector-id {
        color: #DA564A;
        font-weight: bold;
    }

    &-subst {
        font-weight: normal;
    }

    &-type {
        color: #458;
    }

    &-class &-title {
        color: $color-text;
    }

    &-tag,
    &-name,
    &-attribute {
        color: #000080;
        font-weight: normal;
    }

    &-regexp,
    &-link {
        color: #009926;
    }

    &-symbol,
    &-bullet {
        color: #990073;
    }

    &-built_in,
    &-builtin-name {
        color: #0086b3;
    }

    &-meta {
        color: #999;
    }

    &-deletion {
        background: #fdd;
    }

    &-addition {
        background: #dfd;
    }

    &-emphasis {
        font-style: italic;
    }

    &-strong {
        font-weight: bold;
    }
}
