
/**
 * Font size variables
 */

$h1-size: 4.236rem;
$h2-size: 2.618rem;
$h3-size: 1.618rem;
$h4-size: 14px;

$h5-size: $font-size;
$h6-size: $font-size;


/**
 * Main
 */

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headings;
  font-weight: 400;
  line-height: 1.4;
  padding: 0 5px;
  display: block;
  width: 100%;
  box-sizing: border-box;

  &.underline {
    box-shadow: 0 1px 0 $color-border;
  }

  .anchor {
    opacity: .3;
    font-weight: 400;
    font-size: .9em;
    text-decoration: none !important;

    &:before {
      content: '#';
    }

    &:focus,
    &:active {
      opacity: .7;
    }
  }
}

h1 {
  font-size: $h1-size;
  font-weight: 100;
  margin: $h1-size 0 ($h1-size / 2) 0;
}

h2 {
  font-size: $h2-size;
  margin: $h2-size 0 ($h2-size / 2) 0;
}

h3 {
  font-size: $h3-size;
  font-weight: 400;
  margin: $h3-size 0 ($h3-size / 2) 0;
}

h4 {
  font-size: $h4-size;
  text-transform: uppercase;
  margin: $h4-size 0 ($h4-size / 2) 0;
}

h5, h6 {
  font-size: $h5-size;
  font-weight: bold;
  margin: $h4-size 0 ($h4-size / 2) 0;
}
