
input[type=text],
input[type=search],
textarea {
    font-size: $font-size;
    font-family: $font-family;
    color: $color-text;
    border: none;
    outline: none;
    box-shadow: 0 0 0 1px $color-border;
    border-radius: 2px;
    line-height: $ui-height;
    padding: 0 10px;

    &::placeholder {
        color: $color-description;
    }

    &:focus,
    &:active,
    &.active {
        box-shadow: 0 0 0 1px $color-border-focus;
        transition: box-shadow .2s ease;
    }
}

textarea {

}

input[type=text],
input[type=search] {
    height: 32px;
}
