.label {
    display: inline-block;
    outline: none;
    padding: 0 10px;
    border-radius: 2px;
    height: 25px;
    line-height: 25px;
    box-sizing: border-box;
    position: relative;

    &.active {
        color: #fff;
        background: #ff2d20;
        text-decoration: none;
        cursor: default;
    }

    &.success {
        color: desaturate(lighten($color-green, 1%), 25%);
        background: desaturate(lighten($color-green, 56%), 42%);
    }

    &.notice {
        color: desaturate(darken($color-yellow, 10%), 20%);
        background: desaturate(lighten($color-yellow, 50%), 30%);
    }

    &.warning {
        color: desaturate(darken($color-red, 5%), 30%);
        background: desaturate(lighten($color-red, 40%), 30%);
    }
}



a.label {
    text-decoration: none;
    transition:
        color .3s ease,
        background .3s ease
    ;

    &:hover {
        transition:
            color .1s ease,
            background .1s ease
        ;
    }

    &.success:hover {
        color: desaturate(darken($color-green, 4%), 25%);
        background: desaturate(lighten($color-green, 51%), 42%);
    }

    &.notice:hover {
        color: desaturate(darken($color-yellow, 20%), 20%);
        background: desaturate(lighten($color-yellow, 45%), 30%);
    }

    &.warning:hover {
        color: desaturate(darken($color-red, 15%), 30%);
        background: desaturate(lighten($color-red, 36%), 30%);
    }
}
